 @import url("https://fonts.googleapis.com/css2?family=Audiowide&display=swap");

    * {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
      font-family: "Audiowide", sans-serif;
    }

    header {
      width: 100%;
      display: flex;
      flex-direction: column;
    }

    .topSocials {
      width: 100%;
      height: 50px;
      background-color: #4a6d97;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 0 30px;
      border-top-left-radius: 16px;
      border-top-right-radius: 16px;
    }

    .socials {
      display: flex;
      gap: 0.7rem;
      align-items: center;
    }

    .socials > span {
      width: 25px;
      height: 25px;
      background-color: #fff;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 12px;
    }

    .personalised {
      display: flex;
      gap: 0.7rem;
      align-items: center;
      color: #fff;
    }

    .in, .language, .signIn {
      display: flex;
      align-items: center;
      gap: 0.5rem;
      font-size: 9px;
      text-transform: capitalize;
    }

    .hamburger {
      display: none;
      font-size: 24px;
      color: #fff;
      cursor: pointer;
      background: none;
      border: none;
    }

    nav {
      width: 100%;
      height: 50px;
      background-color: black;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 0 30px;
    }

    .logo {
      display: flex;
      align-items: center;
      gap: 0.7rem;
      color: #fff;
    }

    .logo > h3 {
      font-size: 24px;
      color: #e3690b;
    }

    .links {
      display: flex;
      gap: 1.3rem;
    }

    .links > a, .links > span > a {
      text-decoration: none;
      color: #fff;
      text-transform: capitalize;
      font-size: 10px;
    }

    .links > span {
      display: flex;
      align-items: center;
      gap: 0.5rem;
      color: #fff;
    }

    .rightNav {
      display: flex;
      align-items: center;
      gap: 0.7rem;
    }

    .search {
      position: relative;
      width: 250px;
    }

    .search > input {
      width: 100%;
      height: 30px;
      border-radius: 16px;
      border: none;
      font-size: 10px;
      background-color: #333;
      padding: 0 1rem;
    }

    .btnNav, .btnNav2 {
      width: 50px;
      height: 30px;
      background-color: #e3690b;
      border: none;
      border-radius: 16px;
      color: #fff;
      cursor: pointer;
    }

    .btnNav {
      position: absolute;
      top: 50%;
      right: 0;
      transform: translateY(-50%);
    }

    /* ========== Responsive ========== */
    @media (max-width: 768px) {
      .topSocials {
        padding: 0 15px;
      }

      .personalised {
        gap: 0.4rem;
      }

      nav {
        padding: 0 15px;
      }
      .logo>h3{
        font-size: 8px;
      }

      .links {
        display: none; /* hidden by default */
        flex-direction: column;
        background-color: black;
        width: 100%;
        height: auto;
        text-align: center;
        transition: all 0.3s ease;
        position: absolute;
        top:100px;
        left: 0;
      }

      .links.active {
        display: flex;
      }

      .links a .links >span{
        color: #fff;
        padding: 10px 0;
        text-decoration: none;
        font-size: 12px;
        border-top: 1px solid #333;
      }

      .hamburger {
        display: block;
      }

      .rightNav {
        gap: 0.4rem;
      }

      .search {
        width: 180px;
      }

      .btnNav, .btnNav2 {
        width: 40px;
      }

      .logo > h3 {
        font-size: 12px;
      }
    }

/* styling for hero */
#hero {
  width: 100%;
  height: 400px;
  background: linear-gradient(to right, #fae5c7 50%, #da610a 50%);
}
.heroContainer {
  width: 100%;
  height: 100%;
  /* border: 1px solid  #4a6d97; */
  padding: 0 30px;
  display: flex;
  justify-content: space-between;
}
.leftHero {
  width: 300px;
  height: 400px;
  /* border: 1px solid blue; */
  margin: 5rem auto;
}
.leftHero > h3 {
  font-size: 24px;
  margin-block: 2rem;
  text-transform: capitalize;
}
.leftHero > h1 {
  font-size: 30px;
  font-weight: 500;
  margin-block: 2rem;
  text-transform: capitalize;
}
.btnShop {
  width: 120px;
  height: 30px;
  background-color: #e3690b;
  padding: 1rem 1rem;
  border-radius: 24px;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-size: 10px;
}

.rightHero {
  width: 600px;
  height: 500px;
  margin: auto;
  /* border: 1px solid green; */
}
.rightHero > .imageholder {
  width: 600px;
  height: 400px;
  /* border: 1px solid green; */
}
.rightHero > .imageholder > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* styling productcategories */
#productCatogories {
  width: 100%;
  height: 600px;
  display: flex;
  align-items: center;
  margin-block: 2rem;
  /* border: 1px solid forestgreen; */
}
.categoriesContainer {
  width: 100%;
  height: 550px;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 0 30px;
}
.categoryStatement {
  margin: auto;
}
.categoryStatement > h3 {
  font-size: 24px;
  width: 400px;
  margin-bottom: 1rem;
  text-align: center;
  text-transform: capitalize;
  /* border: 1px solid red; */
}
.categoryStatement > p {
  width: 400px;
  font-size: 12px;
  text-transform: capitalize;
  text-align: center;
  /* border: 1px solid red; */
}
.productFlex {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  margin: auto;
}
.box {
  width: 500px;
  height: 300px;
  background-color: #da610a;
  display: flex;
  flex-direction: column;
  transition: transform 0.3s;
  border-radius: 36px;
  position: relative;
}
.box:hover {
  transform: scale(1.1);
  width: 95%;
  padding: 5px 5px;
}
.box > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 36px;
}
.box > h3 {
  display: flex;
  font-size: 12px;
  font-weight: 500;
  color: #000;
  text-transform: capitalize;
  position: absolute;
  top: 80%;
  left: 59%;
  transform: 50%;
}
/* styling freshpicks */

#freshPicks {
  width: 100%;
  height: 750px;
  display: flex;
  align-items: center;
  margin-block: 2rem;
  /* border: 1px solid forestgreen; */
}
.freshpicksContainer {
  width: 100%;
  height: 700px;
  display: flex;
  gap: 2rem;
  align-items: center;
  flex-direction: column;
  padding: 0 30px;
  border: 1px soilid black;
}
.freshpicksContainer > .freshPicksContent {
  margin: auto;
}
.freshPicksContent > h3 {
  font-size: 24px;
  width: 400px;
  margin-bottom: 1rem;
  text-align: center;
  text-transform: capitalize;
  /* border: 1px solid red; */
}
.freshPicksContent > p {
  width: 400px;
  font-size: 12px;
  text-transform: capitalize;
  text-align: center;
  /* border: 1px solid red; */
}
.freshPicksFlex {
  width: 100%;
  display: flex;
  align-items: center; 
  justify-content: space-between; 
  /* gap: .7rem; */
  margin: auto;
}
.box1 {
  width: 350px;
  height: 500px;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  position: relative;
  /* border: 1px solid #4a6d97; */
}
.box1 > .imageHolder {
  width: 350px;
  height: 350px;
}

.imageHolder > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.boxDescription {
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: left;
  gap: 1rem;
  padding: 0 30px;
}
.boxDescription > .tag {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-block: 0.5rem;
}
.tag > .tagx {
  width: 30px;
  height: 30px;
  background-color: #e3690b;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}
.tag > .tagx2 {
  width: 30px;
  height: 30px;
  background-color: #cf9f7fde;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}
.boxDescription > .star {
  width: 100px;
  display: flex;
  align-items: center;
  gap: 0.3rem;
  /* border: 2px solid red; */
  color: gold;
}
.tag > h5 {
  font-size: 10px;
  text-transform: capitalize;
  /* border: 1px solid red; */
}
.boxDescription > h5 {
  font-size: 9px;
  font-weight: 400;
  text-transform: capitalize;
  /* border: 1px solid red; */
}
.boxDescription > h5 > span {
  text-decoration: line-through;
  color: #e3690b;
}
.btnProduct {
  width: 250px;
  height: 40px;
  background-color: #e3690b;
  padding: 0.5rem 0.5rem;
  border-radius: 24px;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: capitalize;
  color: #fff;
  font-size: 10px;
}

/* styling product */
#product {
  width: 100%;
  height: 1200px;
  display: flex;
  margin-block: 2rem;
  align-items: center;
  /* border: 1px solid forestgreen; */
}
.productContainer {
  width: 100%;
  height: 1200px;
  display: flex;
  flex-direction: column;
  padding: 0 30px;
  /* border: 1px solid firebrick; */
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
.boxProduct {
  width: 100%;
  height: 600px;
  display: grid;
  grid-template-columns: 1fr 1fr;

  align-items: center;
  gap: 1rem;
}


.boxY {

  height: 100%;
  background-image: url(https://images.unsplash.com/photo-1533008093099-e2681382639a?q=80&w=1530&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
}
.boxZ {
  
  height: 100%;
  background-image: url(https://plus.unsplash.com/premium_photo-1683140425081-14c44089acd0?q=80&w=1374&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.bottomProduct {
  width: 100%;
  height: 700px;
  background-image: url(https://images.unsplash.com/photo-1461218779480-bb61b6be1924?q=80&w=1471&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
  background-position: bottom;
  background-size: cover;
  background-repeat: no-repeat;
}
.boxyContainer {
  margin: 50px 0 0 40px;
  /* border: 2px solid orangered; */
  width: 200px;
  height: 200px;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.boxY > .boxyContainer > h4 {
  font-size: 14px;
  font-weight: 500;
  color: #fff;
  text-transform: capitalize;
}
.boxY > .boxyContainer > h3 {
  font-size: 24px;
  color: #fff;
  text-transform: capitalize;
}
.boxY > .boxyContainer > p {
  font-size: 12px;
  font-weight: 300;
  color: #fff;
  text-transform: capitalize;
}
.boxY > .boxyContainer > h6 {
  font-size: 9px;
  font-weight: 300;
  color: #fff;
  text-transform: capitalize;
}
.boxZ > .boxyContainer > button {
  width: 150px;
  height: 30px;
  background-color: #e3690b;
  padding: 0.5rem 0.5rem;
  border-radius: 24px;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: capitalize;
  color: #fff;
  margin-top: 2rem;
  font-size: 10px;
}
.bottomProduct > .boxyContainer {
  margin: 50px 0 0 40px;
  /* border: 2px solid orangered; */
  width: 300px;
  height: 300px;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.bottomProduct > .boxyContainer > h4 {
  font-size: 14px;
  font-weight: 500;
  color: #fff;
  text-transform: capitalize;
}
.bottomProduct > .boxyContainer > h3 {
  font-size: 24px;
  font-weight: 500;
  color: #fff;
  text-transform: capitalize;
}
.bottomProduct > .boxyContainer > p {
  font-size: 11px;
  font-weight: 300;
  color: #fff;
  text-transform: capitalize;
}
.bottomProduct > .boxyContainer > button {
  width: 200px;
  height: 40px;
  background-color: #e3690b;
  padding: 0.5rem 0.5rem;
  border-radius: 24px;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: capitalize;
  color: #fff;
  margin-top: 3rem;
  font-size: 10px;
}
/*  styling for featured deals */
#featuredDeals {
  width: 100%;
  height: 750px;
  display: flex;
  align-items: center;
  margin-block: 2rem;
  /* border: 1px solid forestgreen; */
}
.featuredDealsContainer {
  width: 100%;
  height: 700px;
  display: flex;
  gap: 2rem;
  align-items: center;
  flex-direction: column;
  padding: 0 30px;
}
.featuredDealsContainer > .featuredDealsContent {
  margin: auto;
}
.featuredDealsContent > h3 {
  font-size: 24px;
  width: 400px;
  font-weight: 500;
  margin-bottom: 1rem;
  text-align: center;
  text-transform: capitalize;
  /* border: 1px solid red; */
}
.featuredDealsContent > p {
  width: 400px;
  font-size: 12px;
  font-weight: 300;
  text-transform: capitalize;
  text-align: center;
  /* border: 1px solid red; */
}
.featuredDealsFlex {
  width: 100%;
  height: 400px;
  display: flex;
  gap: 1rem;
  
}
.featuredDealsFlex > .box1 {
  width: 100%;
  height: 400px;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  /* border: 1px solid #4a6d97; */
}


.featuredDealsFlex > .box1  > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.featuredDealsFlex > .box1 > .boxDescription {
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: left;
  gap: 1rem;
  padding: 0 30px;
}
.featuredDealsFlex > .box1 > .boxDescription > .tag {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-block: 0.5rem;
}
.featuredDealsFlex > .box1 > .tag > .tagx {
  width: 30px;
  height: 30px;
  background-color: #e3690b;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}
.featuredDealsFlex > .box1 > .tag > .tagx2 {
  width: 30px;
  height: 30px;
  background-color: #cf9f7fde;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}
.featuredDealsFlex > .box1 > .boxDescription > .star {

  display: flex;
  align-items: center;
  gap: 0.3rem;
  /* border: 2px solid red; */
  color: gold;
}
.featuredDealsFlex > .box1 > .tag > h5 {
  font-size: 9px;
  font-weight: 500;
  text-transform: capitalize;
  /* border: 1px solid red; */
}
.featuredDealsFlex > .box1 > .boxDescription > h5 {
  font-size: 9px;
  font-weight: 400;
  text-transform: capitalize;
  /* border: 1px solid red; */
}
.featuredDealsFlex > .box1 > .boxDescription > h5 > span {
  text-decoration: line-through;
  color: #e3690b;
}

.featuredDealsContent > .icons {
  width: 300px;
  height: 50px;
  display: flex;
  margin: auto;
  gap: 1rem;
  /* border: 1px solid red; */
  align-items: center;
  justify-content: center;
  font-size: 14px;
  text-transform: capitalize;
}
.featuredDealsContent > .icons > h5 > span {
  color: gold;
  text-transform: capitalize;
  font-weight: 400;
}

/* /* styling brand name */
#popularBrands {
  width: 100%;
  height: 750px;
  display: flex;
  align-items: center;
  margin-block: 2rem;
  /* border: 1px solid forestgreen; */
}
.popularBrandsContainer {
  width: 100%;
  height: 700px;
  display: flex;
  gap: 2rem;
  align-items: center;
  flex-direction: column;
  padding: 0 30px;
}
.popularBrandsContainer > .popularBrandsContent {
  margin: auto;
}
.popularBrandsContent > h3 {
  font-size: 24px;
  width: 400px;
  font-weight: 500;
  margin-bottom: 1rem;
  text-align: center;
  text-transform: capitalize;
  /* border: 1px solid red; */
}
.popularBrandsContent > p {
  width: 400px;
  font-size: 12px;
  font-weight: 300;
  text-transform: capitalize;
  text-align: center;
  /* border: 1px solid red; */
}
.popularBrandsFlex {
  width: 100%;
  height: 400px;
  display: flex;
  justify-content: space-between;
}
.popularBrandsFlex > .box1 {
    height: 400px;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  border: 1px solid #4a6d97;
}



.popularBrandsFlex > .box1 >img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.popularBrandsFlex > .box1 > .boxDescription {
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: left;
  gap: 1rem;
  padding: 0 30px;
}
.popularBrandsFlex > .box1 > .boxDescription > .brandName {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 2rem;
}

.popularBrandsFlex > .box1 > .boxDescription > .brandName > h5 {
  font-size: 9px;
  font-weight: 400;
  text-transform: capitalize;
  /* border: 1px solid red; */
}
.popularBrandsFlex > .box1 > .boxDescription > .brandName > h5 > span {
  font-size: 10px;
  color: gold;
  font-weight: 300;
}
/* styling banner */
#bigSales {
  width: 100%;
  height: 150px;
  /* border: 1px solid red; */
  margin-block: 4rem;
}
.bigSalesBanner {
  width: 100%;
  height: 100%;
  /* border: 1px solid red; */
}
.bigSalesBanner > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}
/* styling suggestion */

#suggestions {
  width: 100%;
  height: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
  /* border: 2px solid red; */
  margin-block: 2rem;
}
.suggestionsContainer {
  width: 100%;
  height: 100%;
  padding: 0px 30px;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: center;
}
.suggestionsContainerHeader {
  width: 100%;
  height: 100px;
  /* border: 1px solid chocolate; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* gap: 10rem; */
}
.suggestionsContainerHeader > h3 {
  font-size: 24px;
  font-weight: 500;
  text-transform: capitalize;
}
.productCatogetories {
  gap: 3rem;
  height: 70px;
  /* border: 1px solid chocolate; */
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.product {
  width: 80px;
  /* border: 1px solid #4a6d97; */
  padding: 0.5rem 0.5rem;
  border-radius: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.product > span > h5 {
  color: gold;
  font-size: 10px;
  text-transform: capitalize;
}
.product > h5 {
  font-size: 10px;
  text-transform: capitalize;
}
.productDesciptionContainer {
  width: 100%;
  height: 1000px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.productDescription {
  width: 350px;
  height: 100px;
  /* border: 1px solid lawngreen; */
  display: flex;
  gap: 1rem;
}

.productDescription > img {
  width: 70%;
  height:100%;
  object-fit: cover;
  object-position: bottom;
}
.productDescription > .imageContent {
  width: 30%;
  height: 100%;
  /* border: 1px solid blue; */
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  justify-content: center;
  text-transform: capitalize;
}
.productDescription > .imageContent > h4 {
  font-size: 12px;
}
.productDescription > .imageContent > h5 {
  font-size: 11px;
  margin-block: 2px;
}
/* styling testimomal */

.testimonal {
  width: 100%;
  height: 650px;
  background-color: #df8f88;
  margin-block: 2rem;
}
.testimonalContainer {
  width: 100%;
  height: 100%;
  padding: 0 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  /* gap: 2rem; */
}
.productSample {
  width: 300px;
  height: 180px;
  background-color: #fff;
  margin-top: 3rem;
}
.sampleContainer {
  width: 100%;
  height: 100%;
  padding: 40px 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
.sampleContainer > .imageholder {
  width: 140px;
  height: 140px;
}
.sampleContainer > .imageholder > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: bottom;
}
.sampleContainer > .imageContent {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.sampleContainer > .imageContent > h4 {
  font-size: 14px;
  text-transform: capitalize;
}

.sampleContainer > .imageContent > h5 {
  font-size: 10px;
  text-transform: capitalize;
}
.rating {
  width: 300px;
  margin: auto;
  height: 150px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.rating > .imageholder {
  width: 80px;
  height: 80px;
  border-radius: 100%;
}
.rating > .imageholder > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 100%;
}
.productTestimony {
  width: 100%;
  margin: auto;
  height: 300px;
  display: flex;
  /* gap: 4rem; */
  justify-content: space-between;
  align-items: center;
  color: #fff;
  text-align: center;
  font-size: 12px;
}
.productTestimony>p{
  width: 700px;
}

.name > h4 {
  font-size: 14px;
  color: #fff;
  text-transform: capitalize;
}
.name > .star {
  color: gold;
}

.occupation {
  font-size: 12px;
  color: #fff;
  text-transform: capitalize;
}
/* styling FAQ */
.fAQ {
  width: 100%;
  height: 600px;
  background-color: #fff;
  margin-block: 2rem;
}
.fAQContainer {
  width: 100%;
  height: 600px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 30px;
}
.questions {
  width: 500px;
  height: 500px;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.questionBar {
  width: 500px;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #f3f3f3;
  /* border: 2px solid gold; */
  border-radius: 16px;
}
.questions > h3 {
  font-size: 24px;
  font-weight: 500;
  text-transform: capitalize;
  text-align: left;
}
.questionBar > h4 {
  font-size: 14px;
  font-weight: 300;
  text-transform: capitalize;
  text-align: left;
  margin-left: 10px;
}
.fAQContainer > .imageholder {
  width: 400px;
  height: 600px;
  border-radius: 50%;
  border: 4px solid #df8f88;
  position: relative;
}
.fAQContainer > .imageholder > .imageplacement {
  width: 400px;
  height: 600px;
  border-radius: 50%;
  position: absolute;
  bottom: -15px;
  left: -15px;
}
.fAQContainer > .imageholder > .imageplacement > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: bottom;
  border-radius: 50%;
}
/* styling news */
#latestNews {
  width: 100%;
  height: 200px;
  /* border: 1px solid tomato; */
  margin-block: 2rem;
  display: flex;
  align-content: center;
}
.latestNewsContainer {
  width: 100%;
  display: flex;
  margin: auto;
  justify-content: space-between;
  align-items: center;
  padding: 0 30px;
}
.latestNewsContainer > h3 {
  font-size: 24px;
  width: 150px;
  text-transform: capitalize;
}
.latestNewsContainer > p {
  width: 700px;
  font-size: 12px;
  /* border: 1px solid gold; */
  text-align: center;
  line-height: 1.5;
}
.latestNewsContainer > .tag {
  display: flex;
  align-items: center;
  gap: 1rem;
}
/* styling event */
#event {
  width: 100%;
  height: 500px;
  background-color: #fff;
  display: flex;
  align-items: center;
  margin-block: 2rem;
   padding: 0 30px;
}
.eventContainer {
  width: 100%;
  height: 100%;
  display: flex;
 gap: 1rem;
   
}
.eventPlacement {
   height: 350px;
  /* border: 1px solid red; */
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
}

.eventPlacement  > img {
  width: 100%;
  height: 70%;
  object-fit: cover;
}
.eventPlacement > .imageDescription {
  width: 100%;
  height: 30%;
  /* border: 1px solid blue; */
}
.eventPlacement > .imageDescription > .dateHolder {
  width: 100%;
  height: 50px;
  /* border: 1px solid blue; */
  display: flex;
  align-items: center;
  gap: 1rem;
}
.eventPlacement > .imageDescription > .dateHolder > span {
  width: 200px;
  border: 1.5px solid black;
}
.eventPlacement > .imageDescription > .dateHolder > h4 {
  font-size: 12px;
}
.eventPlacement > .imageDescription > p {
  font-size: 12px;
  line-height: 1.3;
}
/* service styling */
#service {
  width: 100%;
  height: 300px;

  margin-top: 2rem;
}

.serviceContainer {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.serviceContent {
  width: 100%;
  height: 100px;
  display: flex;
  background-color: #e2680b;
  align-items: center;
  justify-content: space-between;
  /* border: 2px solid blue; */
  padding: 0 30px;
}

.item {
  display: flex;
  align-items: center;
  gap: 2rem;
  color: #fff;
  font-size: 14px;
  text-transform: capitalize;
}

.pictures {
  width: 100%;
  height: 200px;
  display: flex;
}
.pictures > .imageHolder {
  width: 250px;
  height: 200px;
}
.pictures > .imageHolder > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* styling footer */
#footer {
  width: 100%;
  height: 400px;
  background-color: #000;
}
.footercontainer {
  width: 100%;
  height: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.7rem;
  color: #fff;
  padding: 0 30px;
}
.topFooter {
  width: 100%;
  height: 400px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #fff;
  border-bottom: 1px solid whitesmoke;
}
.rows {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  font-size: 12px;
  text-transform: capitalize;
  align-items: start;
}
.rows > h3 {
  font-size: 16px;
}
.two > h3 {
  width: 220px;
  height: 50px;
  /* border: 1px solid white; */
}

.two > h3 > span {
  color: #e2680b;
}

.searchContainer {
  position: relative;
  width: 320px;
}

input {
  width: 100%;
  padding: 10px 30px 10px 10px;
  border: 1px solid #ccc;
  height: 30px;
  padding: 0.9rem 0.9rem;
  border-radius: 32px;
  background-color: #000;
}

.searchContainer i {
  position: absolute;
  top: 50%;
  left: 290px;
  transform: translateY(-50%);
  color: #888;
}

.two > .socialLogo {
  display: flex;
  gap: 1rem;
}
.two > .socialLogo > span {
  width: 20px;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  border-radius: 100%;
  color: #000;
}
.companyName {
  display: flex;
  gap: 1rem;
}
.rows > .companyName > h3 {
  font-size: 24px;
  color: #e2680b;
}
.rows > h5 {
  font-size: 10px;
}
.bottomFooter {
  display: flex;
  width: 100%;
  justify-content: space-between;
}
.bottomFooter > h5 {
  font-size: 9px;
  text-transform: capitalize;
  font-weight: 200;
}



/* Media query for small screens */
@media only screen and (max-width: 428px) {
 
 
  
    
  /* styling hero */
  #hero {
    background: #fae5c7;
  }
  .leftHero {
  
    margin: 1.5rem auto;
    text-align: center;
    width: 200px;
    height: 250px;
  }
  .leftHero > h3 {
    font-size: 18px;
  }
  a .leftHero > h1 {
    font-size: 20px;
  }
  .btnShop {
    margin: auto;
    width: 150px;
  }
  .rightHero {
    display: none;
  }

  /* styling productcategories */
  .categoryStatement {
   
    margin: 10px auto;
    width: 300px;
    height: 250px;
  }
  .categoryStatement > h3 {
    width: 300px;
    font-size: 18px;
    text-align: center;
  }
  .categoryStatement > p {
    width: 300px;
  }
  .productFlex {
    flex-direction: column;
  }
  .productFlex > .box {
    width: 300px;
    height: 200px;
  }

  /* styling freshpicks */
  #freshPicks {
    margin-top: 800px;
    height: auto;
    
  }
  .freshPicksContent {
   
    margin: 10px auto;
    width: 300px;
    height: 100px;
  }
  .freshPicksContent > h3 {
    width: 300px;
    font-size: 18px;
    text-align: center;
  }
  .freshPicksContent > p {
    width: 300px;
  }

  .freshPicksFlex {
    display: block;
  }

  .freshPicksFlex > .box1 {
    width: 300px;
    height: 450px;
    margin: auto;
  }
  .freshPicksFlex > .box1 > .imageHolder {
    width: 300px;
    height: 300px;
  }
  .btnProduct {
    width: 200px;
  }

  /* styling product */
  #product {
    margin-top: 750px;
  }

  .boxProduct {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
  .topProduct {
    height: 400px;
    display: block;
    gap: 1rem;
    /* margin-bottom: 500px; */
  }
  .boxY,
  .boxZ,
  .bottomProduct {
    width: 300px;
    height: 400px;
  }
 
  .boxY > .boxyContainer > p {
    width: 200px;
  }
  .bottomProduct > .boxyContainer {
    width: 200px;
    height: 200px;
    margin: 0 0 0 50px;
    padding: 50px 0 0 20px;
   
  }
  .bottomProduct > .boxyContainer > button {
    width: 150px;
  }
  .bottomProduct > .boxyContainer > p {
    width: 200px;
  }
  /* featured deals */
  
 
  .featuredDealsContainer > .featuredDealsContent {
    border: 1px solid black;
    margin:  auto;
    width: 300px;
    height: 100px;
  }
  .featuredDealsContent > h3 {
    width: 300px;
    font-size: 18px;
    text-align: center;
  }
  .featuredDealsFlex {
    display: block;
    width: 300px;
  
    
  }
  
  
  /* popular styling */
  #popularBrands {
    margin-top: 1200px;
  }
  .popularBrandsContainer > .popularBrandsContent {
    border: 1px solid black;
    margin: 10px auto;
    width: 300px;
    height: 100px;
  }
  .popularBrandsContent > h3 {
    width: 300px;
    font-size: 18px;
    text-align: center;
  }
  .popularBrandsContent > p {
    width: 300px;
  }
  .popularBrandsFlex {
    flex-direction: column;
    gap: 1rem;
    
  }
  .popularBrandsFlex > .box1 {
    width: 300px;
    margin: auto;
  }
  .popularBrandsFlex > .box1 > .imageHolder {
    width: 300px;
  }

  /* styling banner */
  #bigSales {
    margin-top: 300px;
    height: 100px;
  }
  /* suggestion */
  #suggestions {
    display: none;
  }
  /* styling testimonal */
  .productSample {
    width: 150px;
    height: 120px;
  }
  .sampleContainer {
    padding: 5px;
  }
  .sampleContainer > .imageholder {
    width: 80px;
    height: 100%;
  }
  .sampleContainer > .imageContent > h4 {
    font-size: 12px;
  }
  .sampleContainer > .imageContent > h5 {
    font-size: 8px;
  }
  .productTestimony {
    width: 300px;
  }
  .productTestimony > p {
    width: 250px;
  }
  /* latestnews */
  #latestNews {
    height: 300px;
  }

  .latestNewsContainer {
    flex-direction: column;
    width: 300px;

    gap: 2rem;
  }
  .latestNewsContainer > h3 {
    width: 300px;
    font-size: 18px;
    text-align: center;
  }
  .latestNewsContainer > p {
    width: 300px;
  }
  .fAQ {
    display: none;
  }
  #event {
    display: none;
  }
  #service {
    display: none;
  }
  /* footer */
  #footer {
    height: 300px;
  }

  .footercontainer {
    width: 300px;
    height: 300px;
  }

  .topFooter {
    width: 300px;
    margin: auto;
    flex-direction: column;
  }
  .rows {
    width: 300px;
  
    flex-direction: row;
    margin: auto;
    gap: 1rem;
  }
  .companyName {
    display: block;
  }
  .rows > .companyName > h3 {
    font-size: 12px;
  }
  .rows > .companyName > h5 {
    font-size: 8px;
  }
  .rows > h5 {
    font-size: 8px;
  }
  .bottomFooter > .paymentCards {
    display: none;
  }
  .rows > h3 {
    font-size: 8px;
  }
  .searchContainer,
  .two {
    display: none;
  }
  .bottomFooter > h5 {
    width: 300px;
    text-align: center;
  }
}
